body, html {
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    grid-template-rows: auto 8fr auto;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar content side"
        "sidebar footer side";
    width: 100%;
    height: 100%;
}

.navbar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.navbar-buttons {
    display: flex;
}

.nav-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-button:last-child {
    margin-right: 0;
}

.nav-button:hover {
    background-color: #555;
}

.menu {
    box-shadow: 0 0 0 2px #000;
    background-color: gainsboro;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar {

    grid-area: sidebar;
    background-color: rgb(128, 128, 128);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.ksiazki {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}

.side {
    max-height: 100%;
    grid-area: side;
    background-color: rgb(128, 128, 128);
}

.side li {
    margin-bottom: 10px;
}

.side a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    max-height: max-content;
    box-shadow: 40px 0 30px -6px rgba(0, 1, 2, 0.8), -40px 0 30px -4px rgba(0, 0, 0, 0.8);
    min-width: 26vh;
    border-radius: 40px;
    scale: 0.7;
    margin-top: 50px;
    max-width: 330px;
    display: flex;
    border: 10px solid #ddd;
    padding: 16px;
    background-color: #d2caca;
    flex-direction: column;
    margin-bottom: 20px;
}

.book:hover {
    scale: 1;
    transition: 2s;
}

.book img {
    max-width: 50%;
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.kontakt {
    padding: 10px;
    margin-bottom: 20px;
}

.kontakt a, .kontakt p {
    color: black;
    margin: 0;
    line-height: 1.5;
    font-size: 1.1rem;
    word-break: break-word;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}