<!DOCTYPE html>
<html>
<head>
    <title>Zmiana hasła</title>
    <link rel="stylesheet" href="/css/changepassword.css">
</head>
<body>
<h1>Zmień swoje hasło</h1>
<form th:action="@{/changepassword}" method="post">
    <label for="oldPassword">Stare hasło:</label><br>
    <input type="password" id="oldPassword" name="oldPassword"><br><br>

    <label for="newPassword">Nowe hasło:</label><br>
    <input type="password" id="newPassword" name="newPassword"><br><br>

    <input type="submit" value="Zmień hasło">

</form>
</body>
</html>