<!DOCTYPE html>
<html lang="PL" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Library</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar-buttons">
            <a><form  th:action="@{/szukanie}" method="post">
                <label>
                    <input class="extended-input" type="text" id="Nazwa_ksiazki" placeholder="Wpisz tytuł" name="name">
                </label>
                <br>
                <button type="submit" class="link-button">Szukaj</button>
            </form>
            </a>
            <a class="nav-button" th:href="@{/Library}">Biblioteki</a>
            <div class="nav-button dropdown">Zalogowany jako: <span class="username" th:text="${username}"></span>
                <div class="dropdown-content2" id="myDropdown">
                    <form id="changepass" th:action="@{/changepasswordform}" class="flex-container">
                        <button id="passwordbutton" type="submit" class="logout-button">zmiana hasła</button>
                    </form>
                    <form id="deleteform" th:action="@{/DeleteUser}" class="flex-container">
                        <button type="submit" class="logout-button">Usuń konto</button>
                    </form>
                    <form id="logoutForm" th:action="@{/logout}" method="post" class="flex-container">
                        <button type="submit" class="logout-button">Wyloguj się</button>
                    </form>
                </div>
            </div>
        </div>
        <h1 class = "nazwaprojektu">Virtual Library</h1>
    </nav>
    <nav class="sidebar">
    </nav>
    <div class="ksiazki">
        <ul class="menu">
            <a class="filtry">FILTRY</a>
            <form th:action="@{/SzukaniePoCenie}" method="post">
                <div class="search-input">
                    <label for="min">Minimalna cena:</label>
                    <input class ="szukcena" type="number" id="min" name="min" placeholder="Wprowadź minimalną cenę">
                </div>
                <div class="search-input">
                    <label for="max">Maksymalna cena:</label>
                    <input class ="szukcena" type="number" id="max" name="max" placeholder="Wprowadź maksymalną cenę">
                </div>
                <div class="search-input">
                    <input type="submit" value="Szukaj">
                </div>
            </form>
            <ul class="menu-content">
                <li class="submenu">
                    <label for="submenu-toggle" class="submenu-button">Sortowanie</label>
                    <input type="checkbox" id="submenu-toggle" class="submenu-toggle">
                    <ul class="submenu-content">
                        <li><a class = "tekst" th:href="@{/Sort}">Sortowanie rosnąco</a></li>
                        <li><a class = "tekst" th:href="@{/Sortmal}">Sortowanie malejąco</a></li>
                        <li><a class = "tekst" th:href="@{/popular}">Popularność</a></li>
                    </ul>
                </li>
                <li class="submenu2">
                    <label for="submenu2-toggle" class="submenu2-button">Kategorie</label>
                    <input type="checkbox" id="submenu2-toggle" class="submenu2-toggle">
                    <ul class="submenu2-content">
                        <li th:each="category : ${categories}">
                            <form th:action="@{/szukanierodzajów}" method="post">
                                <input type="hidden" name="type" th:value="${category}" />
                                <a class = "tekst" href="#" th:text="${category}" onclick="this.parentNode.submit(); return false;"></a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="submenu3">
                    <label for="submenu3-toggle" class="submenu3-button">Biblioteki</label>
                    <input type="checkbox" id="submenu3-toggle" class="submenu3-toggle">
                    <ul class="submenu3-content">
                        <li th:each="biblioteka : ${lokal}">
                            <form th:action="@{/szukaniebiblioteki}" method="post">
                                <input type="hidden" name="biblioteka" th:value="${biblioteka.id}" />
                                <a class = "tekst" href="#" th:text="'Biblioteka ' + ${biblioteka.getAdres()}" onclick="this.parentNode.submit(); return false;"></a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="submenu4"><a class = "anuluj" th:href="@{/MenuAdmin}">Anuluj sortowanie</a></li>
            </ul>
        </ul>
        <nav class="content">
            <div th:each="book:${Book}" class="book">
                <img th:src="${book.getPicturePath()}" alt="Opis obrazka">
                <h2>Tytuł: <span th:text="${book.getName()}"></span></h2>
                <p>Rodzaj: <span th:text="${book.getType()}"></span></p>
                <p>Cena: <span th:text="${book.getPrice()}"></span></p>
                <p>Wydawnictwo: <span th:text="${book.getPublisher()}"></span></p>
                <p>Ocena: <span th:text="${book.getRating()}"></span></p>
                <p>Autor: <span th:text="${book.getAuthor()}"></span></p>
                <p>Dostepnosc: <span th:text="${book.getDostepnosc()}"></span></p>
            </div>
        </nav>

    </div>
    <nav class="side">
    </nav>
    <footer class="footer" id="kontakt">
        <div class="kontakt">
            <h3>Kontakt</h3>
            <p>Email: MefjuLibrary@gmail.com</p>
            <p>Telefon: +48 123 456 789</p>
            <p>Adres: Generała Zygmunta Waltera-Jankego 222, Katowice</p>
        </div>
    </footer>
</div>
<script src="/main.js"></script>
</body>
</html>

